body {
	padding:0; 
	margin:0;
}

ul#nav {
	list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color: #333;
    color:white;
    font-size:32px;
    font-family: 'Arial Black'
}

span {
	font-weight:bold;
	font-size:24px;
}

labell {
	margin-right: 15px;
	margin-bottom: -3px;
}

inputl {
	border: none;
	font: 28px Arial;
	border-bottom: 3px solid #333;
	height: 32px;
	width: 35%;
	margin-left: 3%;
	mergin-right: 3%;
	border-radius: 4px;
}

a.navlink, a.navlink:visited, a.navlink:active, a.navlink:hover {
	color: white;
	text-decoration: none;
}

a.listlink, a.listlink:visited, a.listlink:active, a.listlink:hover {
	color: black;
	text-decoration: none;
}

*:focus {
    outline: none;
}

#listings {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.listing {
	height:360px;
	width:300px;
	border:3px outset #888;
	border-radius:10px;
	text-align:center;
	margin:15px 15px 65px 15px;
	transition:margin-top 0.2s;
}

#price {
	width: 50%;
}

.listing:hover{
	margin-top:-5px;
}

.container {
	margin-top: 15px;
}

.title {
	font-size:24px;
    font-family: 'Arial Black';
    margin:10px 0 10px 0;
}

.price {
	font-size:20px;
    font-family: 'Arial';
    margin:10px 0 10px 0;
}

#code, #mail {
	margin-left: 10px;
}

#search {
	flex: 1 0 60%;
}

#sortdiv {
	flex: 1 0 40%;
}

#placeholder {
	height:250px;
	width:250px;
	background-color:black;
	margin:auto;
}

#sep {
	margin-bottom:30px;
	display:block;
	background-color: #333;
	height:5px;	
}

#actionbar {
	margin: 0;
    padding: 20px;
    font-size:24px;
    font-family: 'Arial Black';
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo, #slog {
    float: left;
    vertical-align: middle;
    display: table-cell;
}

#logo {
	margin-top:-5px;
	margin-right:15px;
}

#login {
	float:right;
}

#auctiontop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 5%;
}

#auctionpic {
	flex: 0 0 40%;
}

#auctionbid {
	flex: 1 1 60%;
}

#auctionbid div {
	margin-top: 8%;
}

#bid {
	width: 20%;
	margin-left: 20px;
	font: 18px Arial;
	text-align: center;
}

.ourButton {
	height: 35px;
	width: 85px;
	margin-left: 10px;
	background-color: white;
	border: 2px outset #333;
	border-radius: 5px;
	font: 18px Arial;
	text-align: center;
}

.ourButton:hover {
	background-color: #333;
	color: white;
	cursor: pointer;
}

#auctionbid p {
	font: 18px 'Arial Black'';
	margin-left: 3%;
}

#desc {
	margin:3%;
	font: 16px Arial;
}



.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
}