<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Auction-Platform</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.AuctionPlatformServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChangeAuction</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.ChangeAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Auction-Servlet</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.AuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Admin-Login</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.AdminServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateAuction</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.CreateAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BidAuction</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.BidAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteAuction</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.DeleteAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>EndAuction</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.EndAuctionServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Auction-Platform</servlet-name>
		<url-pattern>/index</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Auction-Platform</servlet-name>
		<url-pattern></url-pattern>

	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>Admin-Login</servlet-name>
		<url-pattern>/goadmin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateAuction</servlet-name>
		<url-pattern>/createAuction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BidAuction</servlet-name>
		<url-pattern>/auction/bid</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteAuction
		</servlet-name>
		<url-pattern>/auction/delete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Auction-Servlet</servlet-name>
		<url-pattern>/auction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EndAuction</servlet-name>
		<url-pattern>/auction/end</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeAuction
		</servlet-name>
		<url-pattern>/auction/edit</url-pattern>
	</servlet-mapping>
</web-app>