<web-app xmlns="http://java.sun.com/xml/ns/j2ee"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Auction-Platform</servlet-name>
		<servlet-class>de.ba.AuctionPlatform.controller.AuctionPlatformServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Auction-Platform</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	 <welcome-file-list>
    <welcome-file>view/index.jsp</welcome-file>
  </welcome-file-list>


</web-app>