<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>auctionPlatform</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.AuctionPlatformServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.LogoutServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>changeAuction</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.ChangeAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>auctionServlet</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.AuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.AdminServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>createAuction</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.CreateAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>bidAuction</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.BidAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deleteAuction</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.DeleteAuctionServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>endAuction</servlet-name>
		<servlet-class>de.ba.auctionPlatform.controller.EndAuctionServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>auctionPlatform</servlet-name>
		<url-pattern>/index</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auctionPlatform</servlet-name>
		<url-pattern></url-pattern>

	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/goadmin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>createAuction</servlet-name>
		<url-pattern>/createAuction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bidAuction</servlet-name>
		<url-pattern>/auction/bid</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deleteAuction
		</servlet-name>
		<url-pattern>/auction/delete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>auctionServlet</servlet-name>
		<url-pattern>/auction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>endAuction</servlet-name>
		<url-pattern>/auction/end</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeAuction
		</servlet-name>
		<url-pattern>/auction/edit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>